// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #333333;
}

h2 {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #4070ff;
}

p {
  font-size:20px;
  color: #333333;
}

.question {
  border-left: 7px solid #ACACAC;
  padding-left: 10px;
}

.answer {
  border-left: 7px solid #ACACAC;
  padding-left: 10px;
  background-color: #FFFEE1
}

.container {
  margin: 0 auto;
  width: 900px;
}

#input {
  width: 300px;
}
